<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/about.css"/>
    <title>About Us</title>
</head>
<body>
    <header><center>
   <a href="/menu">
      <img src="../images/home.png" alt="Home" width="50" height="50">
   </a>
   </center>
   </header>

   <center>
      <h1>About Us</h1>
   </center>

   <section class="reviews">
      <% for (let i = 0; i < Employee.length; i++) { %>
      <center><h2 class="title"></h2></center>
            <div>
               <img src="../uploaded_img/employee/emp1.jpg" alt="">
               <h3><%= Employee[i].username %></h3>
               <p><%= Employee[i].position %></p>
            </div>
      <% } %>
   </section>

<!--<section class="reviews">
   <center><h2 class="title"></h2></center>
         <div>
            <img src="../uploaded_img/emp1.jpg" alt="">
            <h3>Cartoon</h3>
            <p>Position : Cashier </p>
         </div>
   
         <div>
            <img src="../uploaded_img/emp2.jpg" alt="">
            <h3>Jew</h3>
            <p>Position : Manager </p>
         </div>
   
         <div>
            <img src="../uploaded_img/emp3.jpg" alt="">
            <h3>Nice</h3>
            <p>Position : Manager's Assistant</p>
         </div>
            
         <div>
            <img src="../uploaded_img/emp4.jpg" alt="">
            <h3>Bam</h3>
            <p>Position : Waitress </p> 
         </div>
</section>-->


<section class="box-container">
      <div>
         <img src="../images/email (1).png" alt=""width="100" height="100">
         <h3>our email</h3>
         <a href="coffeeshop@gmail.com">coffeeshop@gmail.com</a>
      </div>

      <div>
         <img src="images/clock (1).png" alt=""width="100" height="100">
         <h3>opening hours</h3>
         <p>9:00 am to 5:00 pm </p>
      </div>
      
      <div>
         <img src="images/map-pin.png" alt=""width="100" height="100">
         <h3>our address</h3>
         <a href="https://www.google.com/maps">KMUTNB Prachinburi 25230</a>
      </div>
      
      <div>
         <img src="images/telephone.png" alt=""width="100" height="100">
         <h3>our number</h3>
         <a href="tel:1234567890">+123-456-7890</a><br>
         <a href="tel:1112223333">+111-222-3333</a>
      </div>
</section>
<br><br>
 
</body>
</html>