<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Menu</title>
    <link rel="stylesheet" href="../css/addemployee.css" />
</head>
<body>
    <div>
        <center><img src="uploaded_img/addemployee.png" alt="Employee Image"></center>
    </div>
    <br>
    <div class="card-body">
        <h5 class="card-title">Add Employee</h5>
        <div class="form-group">
            <label for="price">username</label>
            <input type="text" name="usermane" placeholder="username"/>
            <br><br>
            <label for="price">Password</label>
            <input type="text" name="password" placeholder="password"/>
            <br><br>
            <label for="price">Age</label>
            <input type="text" name="age" placeholder="age"/>
            <br><br>
            <label for="price">Position</label>
            <input type="text" name="position" placeholder="position"/>
            <br><br>
            <label for="price">Adress</label>
            <input type="text" name="address" placeholder="address"/>
            <br><br>
            <label for="price">Tel</label>
            <input type="text" name="tel" placeholder="tel"/>
            <br><br>
            <label for="price">Email</label>
            <input type="text" name="email" placeholder="email"/>
            <br><br>
            <label for="price">Image</label>
            <input type="file" name="imageFile" />
            <button type="submit" class="btn btn-primary">OK</button>
        </div>
    </div>
    <br>
    <center><a href="/item">Back to List</a></center>
</body>
</html>