<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
    <link rel="stylesheet" href="../css/addemployee.css" />
</head>
<body>
    <div>
        <center><img src="uploaded_img/addemployee.png" alt="Employee Image"></center>
    </div>
    <br>
    <div class="card-body">
        <h5 class="card-title">Add Employee</h5>
        <div class="form-group">
        <form action="/addemployee" method="post" enctype="multipart/form-data">
            <label for="price">username</label>
            <input type="text" name="username" placeholder="username"/>
            <br><br>
            <label for="price">Password</label>
            <input type="text" name="password" placeholder="password"/>
            <br><br>
            <label for="price">Age</label>
            <input type="text" name="age" placeholder="age"/>
            <br><br>
            <label for="price">Position</label>
            <input type="text" name="position" placeholder="position"/>
            <br><br>
            <label for="price">Image</label>
            <input type="file" name="img" />
            <input type="submit" value="OK">
        </form>
        </div>
    </div>
    <br>
    <center><a href="/employee">Back to List</a></center>
</body>
</html>