<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Menu</title>
    <link rel="stylesheet" href="../css/addmenu.css" />
</head>
<body>
    <div>
        <center><img src="uploaded_img/addmenu.png" alt="Register Image"></center>
    </div>
    <br>
    <div class="card-body">
        <h5 class="card-title">Add Menu</h5>
        <div class="form-group" enctype="multipart/form-data">
            <label for="price">Item Name</label>
            <input type="text" name="director" placeholder="item name"/>
            <br><br>
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" name="price" placeholder="price" pattern="[0-9]{1,7}" required>
            <br><br>
            <label for="price">Image</label>
            <input type="file" name="imageFile" />
            <center>
                <a href="/item" class="custom-link">
                    <button type="button" class="custom-button">OK</button>
                </a>
            </center>
        </div>
    </div>
    <br>
    <center><a href="/item">Back to List</a></center>
</body>
</html>