<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="../css/cart.css">
</head>
<body>
    <header>
        <h1>Shopping Cart</h1>
    </header>

     <main>

        <script>
            function removeItem(itemId) {
                var item = document.getElementById(itemId);
                if (item) {
                    var itemPrice = parseFloat(item.querySelector('.item-price').textContent.replace('฿', ''));
                    var totalPrice = parseFloat(document.getElementById('total-amount').textContent.replace('฿', ''));
                    totalPrice -= itemPrice;
                    document.getElementById('total-amount').textContent = '฿' + totalPrice.toFixed(2);
                    item.remove();
                }
            }
    
            function calculateTotal() {
                var totalPrice = 0;
                var items = document.querySelectorAll('.item');
                items.forEach(function (item) {
                    var price = parseFloat(item.querySelector('.item-price').textContent.replace('฿', ''));
                    totalPrice += price;
                });
                document.getElementById('total-amount').textContent = '฿' + totalPrice.toFixed(2);
            }
    
            window.onload = calculateTotal;
        </script>
    
        <h2>Your Cart</h2>

        <div id="shopping-cart">
            <% for(let i = 1; i < order.length; i++) { %>
            <div class="order" id="order<%= i %>">
                <p>Name: <%= order[i].itemname %></p>
                <p>Price: <%= order[i].price %></p>
                <p>Quantity: <%= order[i].qty %></p> 
                </div>
            
            <br>
            <% } %>
        </div>
        <div class="cart-total">
            <h3>Total:</h3>
            <span id="total-amount">฿0.00</span>
        </div>
        <center>
            <button class="checkout-btn"><a href="/menu">Back</a></button>
            <button class="checkout-btn"><a href="order">Pay</a></button>
        </center>
    </main> 
</body>
</html> 
