<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/customer.css" />
    <title>Item's Information</title>
  </head>
  <body>
    <br><br>
    <div class="head">
      <div class="spacer"></div> <!-- เพิ่มพื้นที่ว่าง -->
      <a href="/addmenu" class="btn">➕ Add Menu</a>
    </div>
    <h1>Item's Information</h1>
    <% for(var i = 0; i < Item.length; i++){%>
    <form method="post" action="/create">
    <div class=username>
        <label for="itemname">Item Name : </label>
        <p> <%=Item[i].itemname%></p>
        <label for="price">Price : </label>
        <p> <%=Item[i].price%></p>
    </div>
    <br />
    <a href="/updatemenu/<%= Item[i].item_id%>">Update</a>
    <a href="/deletemenu/<%= Item[i].item_id%>">Delete</a>
    </form>
    <br><br>
    <%}%>
        <center><a href="/menu1">Back to Menu</a></center>
      </body>
    </html>