<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/order.css"/>
    <title>Order Details</title>
</head>
<body>
    <h1>Order Details</h1>
    <% for(let i = 1; i < order.length; i++) { %>
        <div class="order" id="order<%= i %>">
            <p>Name: <%= order[i].itemname %></p>
            <p>Price: <%= order[i].price %></p>
            <p>Quantity: <%= order[i].qty %></p> 

            <a href="" class="btn btn-warning mx-2">Accept</a>
            <a href=""class="btn btn-warning mx-2">Delete</a>
        </div>
        <br>
    <% } %>
</body>
</html>

