<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/order.css"/>
    <title>Make Order</title>
</head>
<body>
    <h1> Order Datails </h1>
    <form method="post" action="/create">
        <label for="orderDate">Order Date : </label>
        <input type="text" name="orderDate" id="orderDate"/>
        <label for="employee_id">Employee ID : </label>
        <input type="text" name="employee_id" id="employee_id"/>
        <label for="customer_id">Customer ID : </label>
        <input type="text" name="customer_id" id="customer_id"/>
        <label for="tax_id">Tax ID :</label>
        <input type="tax_id" name="tax_id" id="tax_id"/>
    <br/>
      <input type="submit" value="create" />
    </form>
    <center><a href="/">Back to List</a></center>
</body>
</html>