/* Reset CSS */
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: "Anuphan", sans-serif;
    font-style: normal;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
h1{
    font-family: "Anuphan", sans-serif;
    font-style: normal;
}

header {
    background-color: #fed330;
    color: black;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h2 {
    margin-bottom: 20px;
}

#shopping-cart {
    display: flex;
    flex-wrap: wrap;
}

#shopping-cart > div {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

#shopping-cart > div img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.item-price {
    display: block;
    margin-bottom: 10px;
}

.cart-total {
    margin-top: 20px;
    text-align: right;
}

.checkout-btn {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: #555;
}
