@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');


/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body style */
body {
    font-family: "Anuphan", sans-serif;
    font-style: normal;
    background-color: #f8f8f8;
    color: #000000;
    margin: 0;
    padding: 0;
}

a{
    font-family: "Anuphan", sans-serif;
    font-style: normal;
    color: #000000;
}

/* Header style */
header {
    background-color: #fed330;
    color: #000000;
    text-align: center;
    padding: 20px;
}

/* Main section style */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Shopping cart item style */
#shopping-cart {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

#shopping-cart > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.item-price {
    font-weight: bold;
}

/* Cart total style */
.cart-total {
    text-align: right;
    margin-bottom: 20px;
}

/* Checkout button style */
.checkout-btn {
    background-color: #fed330;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-btn:hover {
    background-color: #ffffff;
}
